<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <meta charset="UTF-8">
    <title>Register</title>
     <!-- Bootstrap -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- W3CSS -->
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

      <!--Self Defined CSS-->
    <link href="{% static 'SelfDefine.css' %}" rel="stylesheet">
</head>
<body background="{% static 'images/bg3.jpg' %}">
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
        <h1>Thank you for register Icecream ChatRoom :)</h1>
    </header>

<div class="w3-container w3-pale-red">
    <p>&nbsp;</p>
  <p>Dear User:</p>
    <p>
    Aye you are almost there! There is only one step to do to be our member!
        We sent an email to you. Please check that email and verify your email address. Thanks!</p>
</div>

<footer class="w3-container w3-blue">
  <h5>From: Icecream Chatroom Team</h5>
</footer>
</div>
    </div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
</body>
</html>